/* Reddit font faces */
@font-face {
    font-family: "Noto Sans";
    src: url("https://cdn.jsdelivr.net/npm/reddit-embed/css/fonts/Reddit-Noto-Sans.woff2");
}

@font-face {
    font-family: "Noto Mono";
    src: url("https://cdn.jsdelivr.net/npm/reddit-embed/css/fonts/Reddit-Noto-Mono.woff2");
}

@font-face{
  font-family: "IBMPlexSans";
  src: url("https://cdn.jsdelivr.net/npm/reddit-embed/css/fonts/Reddit-IBMPlexSans.woff2");
}

@font-face{
  font-family:"IBMPlexSans";
  src:url("https://cdn.jsdelivr.net/npm/reddit-embed/css/fonts/Reddit-IBMPlexSans-Bold.woff2") ;
  font-weight:700;
}
