:root {
  --reddit-text: #1A1A1B;
  --reddit-link: #0079d3;
  --reddit-text-muted: #7c7c7c;
  --reddit-blockquote: rgba(28, 28, 28, 0.2);
  --reddit-line-seperator: rgba(28, 28, 28, 0.2);
  --reddit-table-border: #eee;
  --reddit-code-bg: #F6F7F8;
  --reddit-code: #FF006D;
  --reddit-spoiler-bg: #545452;
  --reddit-spoiler-bg-revealed: #5454521A;
  --reddit-spinner: #1EAAF0;
}
