/*
   CSS Reset for consistency
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

.reddit-embed html, .reddit-embed body, .reddit-embed div, .reddit-embed span, .reddit-embed applet, .reddit-embed object, .reddit-embed iframe,
h1, .reddit-embed h2, .reddit-embed h3, .reddit-embed h4, .reddit-embed h5, .reddit-embed h6, .reddit-embed p, .reddit-embed blockquote, .reddit-embed pre,
a, .reddit-embed abbr, .reddit-embed acronym, .reddit-embed address, .reddit-embed big, .reddit-embed cite, .reddit-embed code,
del, .reddit-embed dfn, .reddit-embed em, .reddit-embed img, .reddit-embed ins, .reddit-embed kbd, .reddit-embed q, .reddit-embed s, .reddit-embed samp,
small, .reddit-embed strike, .reddit-embed strong, .reddit-embed sub, .reddit-embed sup, .reddit-embed tt, .reddit-embed var,
b, .reddit-embed u, .reddit-embed i, .reddit-embed center,
dl, .reddit-embed dt, .reddit-embed dd, .reddit-embed ol, .reddit-embed ul, .reddit-embed li,
fieldset, .reddit-embed form, .reddit-embed label, .reddit-embed legend,
table, .reddit-embed caption, .reddit-embed tbody, .reddit-embed tfoot, .reddit-embed thead, .reddit-embed tr, .reddit-embed th, .reddit-embed td,
article, .reddit-embed aside, .reddit-embed canvas, .reddit-embed details, .reddit-embed embed,
figure, .reddit-embed figcaption, .reddit-embed footer, .reddit-embed header, .reddit-embed hgroup,
menu, .reddit-embed nav, .reddit-embed output, .reddit-embed ruby, .reddit-embed section, .reddit-embed summary,
time, .reddit-embed mark, .reddit-embed audio, .reddit-embed video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
.reddit-embed article, .reddit-embed aside, .reddit-embed details, .reddit-embed figcaption, .reddit-embed figure,
footer, .reddit-embed header, .reddit-embed hgroup, .reddit-embed menu, .reddit-embed nav, .reddit-embed section {
	display: block;
}
.reddit-embed body {
	line-height: 1;
}
.reddit-embed ol, .reddit-embed ul {
	list-style: none;
}
.reddit-embed blockquote, .reddit-embed q {
	quotes: none;
}
.reddit-embed blockquote:before, .reddit-embed blockquote:after,
q:before, .reddit-embed q:after {
	content: '';
	content: none;
}
.reddit-embed table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reddit font faces */
@font-face {
    font-family: "Noto Sans";
    src: url("fonts/Reddit-Noto-Sans.woff2");
}

@font-face {
    font-family: "Noto Mono";
    src: url("fonts/Reddit-Noto-Mono.woff2");
}

@font-face{
  font-family: "IBMPlexSans";
  src: url("fonts/Reddit-IBMPlexSans.woff2");
}

@font-face{
  font-family:"IBMPlexSans";
  src:url("fonts/Reddit-IBMPlexSans-Bold.woff2") ;
  font-weight:700;
}

:root {
  --reddit-text: #fff;
  --reddit-link: #3498db;
  --reddit-text-muted: #adb5bd;
  --reddit-blockquote: #adb5bd;
	--reddit-line-seperator: rgba(245, 245, 255, 0.75);
  --reddit-table-border: #adb5bd;
  --reddit-code-bg: #F6F7F822;
  --reddit-inline-code: #FF006D;
  --reddit-spoiler-bg: #646468;
  --reddit-spoiler-bg-revealed: #64646888;
	--reddit-spinner: #1EAAF0;
	--spin-center: translate(-50%, -50%);
}

/* General styling for everything
in a reddit-embed div */
.reddit-embed {
    -webkit-font-smoothing: antialiased !important;
    color: var(--reddit-text) !important;
    font-size: 17.5px !important;
}

/* Max width for reddit-embed  div*/
.reddit-embed {
  max-width: 800px !important;
}

.reddit-embed.center{
	display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Post header styling */
.reddit-embed .header-spacer {
  height: 8px !important;
}

.reddit-embed .header-spacer-lg {
  height: 12px !important;
}

/* Post title styling */
.reddit-embed .title {
  font-family: IBMPlexSans, Arial, sans-serif !important;
  text-decoration: none !important;
  text-decoration-skip-ink: none !important;
  color: var(--reddit-text) !important;
  font-size: 25.4px !important;
  font-weight: 500 !important;
  line-height: 28px !important;
}
.reddit-embed .title:hover {
  color: var(--reddit-text) !important;
}
.reddit-embed .title-spacer {
  min-height: 16px !important;
}

/* Comment header styling*/
.reddit-embed .comment-header{
	font-size: 24px !important;
	font-family: Noto Sans, Arial, sans-serif !important;
  line-height: 27px !important;
	margin: 0 !important;
}
.reddit-embed .comment-seperator{
	margin: 0 !important;
	border-top: 2px solid var(--reddit-line-seperator) !important;
	margin-top: 2px !important;
}

/* Styling for author-info section of a
 comment(the part above the actual content) */
.reddit-embed .author-info{
  font-size: 15px !important;
  font-family: IBMPlexSans, Arial, sans-serif !important;
  word-break: break-word !important;
  align-items: center !important;
  color: var(--reddit-text-muted) !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  line-height: 24px !important;
  min-height: 24px !important;
  transition: opacity .2s !important;
  vertical-align: baseline !important;
}
.reddit-embed .authorname{
  color: var(--reddit-text) !important;
  font-size:15px !important;
  text-decoration: none !important;
  padding: 0 !important;
}
.reddit-embed .authorname:hover{
  color: var(--reddit-text) !important;
}
.reddit-embed .bold{
  font-weight: 1000 !important;
}
.reddit-embed .left-space{
  padding-left: 4px !important;
}


/* Vertical padding between author-info
and comment body */
.reddit-embed .comment-body {
  padding: 2px 0 !important;
}

.reddit-embed .md {
  line-height: 26px !important;
  word-break: break-word !important;
}

/* Spacing between each comment */
.reddit-embed .comment {
  margin-bottom: 10px !important;
  font-family: Noto Sans, Arial, sans-serif !important;
  border-radius: 4px !important;
  border: 1px solid transparent !important;
  box-sizing: border-box !important;
  margin-left: 4px !important;
  /* padding-left: 4px !important; */
  padding-right: 4px !important;
  padding-top: 4px !important;
  width: 100% !important;
}

/* Specific styling for tags in the comment body*/

/* Regular ol links */
.reddit-embed a {
  color: var(--reddit-link) !important;
  text-decoration: underline !important;
}
.reddit-embed a:hover{
  color: var(--reddit-link) !important;
  text-decoration: underline !important;
}

/* Spacing for normal text */
.reddit-embed p{
  margin: 0 !important;
  padding: .8em 0 .25em !important;
}
.reddit-embed p:first-child{
  padding-top: 0 !important;
}

.reddit-embed strong{
  font-weight: 1000 !important;
}

.reddit-embed em{
  font-style: italic !important;
}

.reddit-embed sup{
  position: relative !important;
  font-size: .7em !important;
  line-height: .7em !important;
  top: -.4em !important;
}

.reddit-embed sup sup{
  font-size: 1em !important;
  line-height: 1m !important;
  top: 0 !important;
}

/* Header Tags */
.reddit-embed h1{
  font-size: 28px !important;
  line-height: 32px !important;
  margin-bottom: 8px !important;
  margin-top: 1.4em !important;
}
.reddit-embed h2{
  font-size: 25px !important;
  line-height: 29px !important;
  margin-bottom: 8px !important;
  margin-top: 1.4em !important;
}
.reddit-embed h3{
  font-size: 22px !important;
  line-height: 26px !important;
  margin-bottom: 8px !important;
  margin-top: 1.4em !important;
}
.reddit-embed h4{
  font-size: 20px !important;
  line-height: 24px !important;
  margin-bottom: 8px !important;
  margin-top: 1.4em !important;
}
.reddit-embed h5{
  font-size: 18px !important;
  line-height: 22px !important;
  margin-bottom: 8px !important;
  margin-top: 1.4em !important;
}
.reddit-embed h6{
  font-size: 15px !important;
  line-height: 19px !important;
  margin-bottom: 8px !important;
  margin-top: 1.4em !important;
}

/* Lists in text */
.reddit-embed ul{
    list-style: disc outside !important;
    margin: 5px 0 5px 10px !important;
    padding: 0 !important;
}
.reddit-embed ol{
    list-style: decimal outside !important;
    margin: 5px 0 5px 10px !important;
    padding: 0 !important;
}
.reddit-embed li{
    margin: .4em 1em !important;
}

/* Blockquotes */
.reddit-embed blockquote {
    border-left: 5px solid var(--reddit-blockquote) !important;
    margin: 5px 0 5px 10px !important;
    padding-left: 10px !important;
}

/* Tables */
.reddit-embed table{
    border: 2px solid var(--reddit-table-border) !important;
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    display: inline-block !important;
    margin-bottom: 4px !important;
    margin-top: 4px !important;
    overflow-x: auto !important;
    word-break: normal !important;
}
.reddit-embed tr th{
  border: 1px solid var(--reddit-table-border) !important;
  padding: 4px 8px !important;
}
.reddit-embed td{
  border: 1px solid var(--reddit-table-border) !important;
  padding: 4px 8px !important;
}

.reddit-embed hr{
	border: 0 !important;
  border-top: 1px solid var(--reddit-line-seperator) !important;
	height: 1px !important;
	margin: 12px 0 !important;
}

/* Images */
.reddit-embed img{
	display: block !important;
  max-width: 100% !important;
	max-height: 840px !important;
  position: relative !important;
  margin: 0 auto !important;
}
.reddit-embed .image-container{
	margin: 0 auto !important;
	position: relative !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

/* Videos */
.reddit-embed video{
	display: block !important;
	position: relative !important;
	margin: 0 auto !important;
}
.reddit-embed video[poster]{
	object-fit: cover !important;
	max-width: 100% !important;
	max-height: 720px !important;
}
.reddit-embed .video-container{
	margin: 0 auto !important;
	position: relative !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}



/* Code */
.reddit-embed code{
  background: var(--reddit-code-bg) !important;
  color: var(--reddit-inline-code) !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  font-family: Noto Mono, Menlo, Monaco, Consolas, monospace !important;
  margin: 0 2px !important;
}
.reddit-embed pre {
  background: var(--reddit-code-bg) !important;
  color: var(--reddit-text) !important;
  line-height: 24px !important;
  display: grid !important;
  margin: 5px 0 !important;
  padding: 10px !important;
}
.reddit-embed pre code{
  color: var(--reddit-text) !important;
  font-size: 16.4px !important;
  line-height: 25px !important;
  background: none !important;
}

.reddit-embed .expand-button {
  font-size: 16px !important;
  font-family: IBMPlexSans, Arial, sans-serif !important;
  text-decoration: none !important;
  display: inline-block !important;
}

.reddit-embed .md-spoiler-text {
  background: var(--reddit-spoiler-bg) !important;
  border-radius: 2.35px !important;
  transition: background 1s ease-out !important;
  color: rgba(0,0,0,0) !important;
  cursor: pointer !important;
  /*
    Make text unselectable
  */
  -moz-user-select: -moz-none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.reddit-embed .md-spoiler-revealed {
  background: var(--reddit-spoiler-bg-revealed) !important;
  border-radius: 2.35px !important;
  transition: background 1s ease-out !important;
}

.reddit-embed .loader * {
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

/* Loading Animation*/
.reddit-embed .spin-center {
	 position: absolute !important;
	 width: 30px !important;
	 height: 30px !important;
	 background: var(--reddit-spinner) !important;
	 border-radius: 50% !important;
	 top: 50% !important;
	 left: 50% !important;
	 transform: var(--spin-center) !important;
}
.reddit-embed .outer-spin, .reddit-embed .inner-spin {
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
}
.reddit-embed .outer-spin {
	animation: spin 4s linear infinite !important;
}
.reddit-embed .outer-arc, .reddit-embed .inner-arc {
	position: absolute !important;
	border-radius: 50% !important;
	border: 4px solid !important;
}
.reddit-embed .outer-arc {
	width: 100px !important;
	height: 100px !important;
}
.reddit-embed .outer-arc_start-a {
	border-color: transparent transparent transparent var(--reddit-spinner) !important;
	/*NOTE: the order here very much matters!  */
	transform: var(--spin-center) rotate(65deg) !important;
}
.reddit-embed .outer-arc_end-a {
	border-color: var(--reddit-spinner) transparent transparent transparent !important;
	transform: var(--spin-center) rotate(45deg) !important;
}
.reddit-embed .outer-arc_start-b {
	border-color: transparent transparent transparent var(--reddit-spinner) !important;
	transform: var(--spin-center) rotate(65deg) scale(-1, -1) !important;
}
.reddit-embed .outer-arc_end-b {
	border-color: var(--reddit-spinner) transparent transparent transparent !important;
	transform: var(--spin-center) rotate(45deg) scale(-1, -1) !important;
}

.reddit-embed .outer-moon-a {
	 position: absolute !important;
	 top:50% !important;
	 left:50% !important;
	 width: 14px !important;
	 height: 14px !important;
	 background: var(--reddit-spinner) !important;
	 border-radius: 50% !important;
	 transform: var(--spin-center) translate(52px, 0) !important;
}
.reddit-embed .outer-moon-b {
	 position: absolute !important;
	 top:50% !important;
	 left:50% !important;
	 width: 14px !important;
	 height: 14px !important;
	 background: var(--reddit-spinner) !important;
	 border-radius: 50% !important;
	 transform: var(--spin-center) translate(-52px, 0) !important;
}
.reddit-embed .inner-spin {
	animation: spin 3s linear infinite !important;
}
.reddit-embed .inner-arc {
	width: 62px !important;
	height: 62px !important;
}
.reddit-embed .inner-arc_start-a {
	border-color: transparent transparent transparent var(--reddit-spinner) !important;
/*NOTE: the order here very much matters!  */
	transform: var(--spin-center) rotate(65deg) !important;
}
.reddit-embed .inner-arc_end-a {
	border-color: var(--reddit-spinner) transparent transparent transparent !important;
	transform: var(--spin-center) rotate(45deg) !important;
}
.reddit-embed .inner-arc_start-b {
	border-color: transparent transparent transparent var(--reddit-spinner) !important;
	transform: var(--spin-center) rotate(65deg) scale(-1, -1) !important;
}
.reddit-embed .inner-arc_end-b {
	border-color: var(--reddit-spinner) transparent transparent transparent !important;
	transform: var(--spin-center) rotate(45deg) scale(-1, -1) !important;
}
.reddit-embed .inner-moon-a {
	 position: absolute !important;
	 top:50% !important;
	 left:50% !important;
	 width: 12px !important;
	 height: 12px !important;
	 background: var(--reddit-spinner) !important;
	 border-radius: 50% !important;
	 transform: var(--spin-center) translate(33px, 0) !important;
}
.reddit-embed .inner-moon-b {
	 position: absolute !important;
	 top:50% !important;
	 left:50% !important;
	 width: 12px !important;
	 height: 12px !important;
	 background: var(--reddit-spinner) !important;
	 border-radius: 50% !important;
	 transform: var(--spin-center) translate(-33px, 0) !important;
}

.reddit-embed .loader {
	position: relative !important;
	width:120px !important;
	height:120px !important;
	transform: scale(0.6) !important;
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

@keyframes spin { 100% {transform: rotate(360deg); } }

/* Misc */
.link-flair {
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 16px !important;
    border-radius: 2px !important;
    display: inline-block !important;
    margin-right: 5px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    vertical-align: text-bottom !important;
    white-space: pre !important;
    word-break: normal !important;
    padding: 0 4px !important;
}
