:root {
  --reddit-text: #fff;
  --reddit-link: #0079d3;
  --reddit-text-muted: #7c7c7c;
  --reddit-blockquote: rgba(28, 28, 28, 0.2);
  --reddit-code-bg: #F6F7F8;
  --reddit-spoiler-bg: #545452;
  --reddit-spoiler-bg-revealed: #5454521A;
}
