@font-face {
    font-family: "Noto Sans";
    src: url("Reddit-Noto-Sans.woff2");
}

@font-face {
    font-family: "Noto Mono";
    src: url("Reddit-Noto-Mono.woff2");
}

@font-face{
  font-family: "IBMPlexSans";
  src: url("Reddit-IBMPlexSans.woff2");
}

@font-face{
  font-family:"IBMPlexSans";
  src:url("Reddit-IBMPlexSans-Bold.woff2") ;
  font-weight:700;
}

:root {
  --reddit-text: #fff;
  --reddit-link: #3498db;
  --reddit-text-muted: #adb5bd;
  --reddit-blockquote: #adb5bd;
  --reddit-table-border: #adb5bd;
  --reddit-code-bg: #F6F7F822;
  --reddit-spoiler-bg: #646468;
  --reddit-spoiler-bg-revealed: #64646888;
}

/* General styling for everything
in a reddit-embed div */
.reddit-embed {
    -webkit-font-smoothing: antialiased;
    color: var(--reddit-text);
    font-size: 17.5px;
}

/* Max width for reddit-embed  div*/
.reddit-embed {
  max-width: 800px;
}


/* Post title styling */
.reddit-embed .title {
  font-family: Noto Sans, Arial,sans-serif;
  margin-bottom: 100px;
}

/* Styling for author-info section of a
 comment(the part above the actual content) */
.reddit-embed .author-info{
  font-size: 15px;
  font-family: IBMPlexSans, Arial, sans-serif;
  min-height: 18px;
  word-break: break-word;
  align-items: center;
  color: var(--reddit-text-muted);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 20px;
  transition: opacity .2s;
  vertical-align: baseline;
}
.reddit-embed .authorname{
  color: var(--reddit-text);
  font-size:15px;
  text-decoration: none;
}
.reddit-embed .bold{
  font-weight: 700;
}
.reddit-embed .left-space{
  padding-left: 4px;
}


/* Vertical padding between author-info
and comment body */
.reddit-embed .comment-body {
  padding: 3px 0;
}

/* Spacing between each comment */
.reddit-embed .comment {
  margin-bottom: 10px;
  font-family: Noto Sans, Arial,sans-serif;
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  margin-left: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  width: 100%;
}

/* Specific styling for tags in the comment body*/

/* Regular ol links */
.reddit-embed a {
  color: var(--reddit-link);
  text-decoration: underline;
}
.reddit-embed a:hover{
  text-decoration: underline;
}

/* Spacing for normal text */
.reddit-embed p{
  margin: 0 !important;
  padding: .8em 0 .25em;
}
.reddit-embed p:first-child{
  padding-top: 0;
}

/* Header Tags */
.reddit-embed h1{
  font-size: 28px;
  margin-bottom: 8px;
  margin-top: 1.4em;
}
.reddit-embed h2{
  font-size: 25px;
  margin-bottom: 8px;
  margin-top: 1.4em;
}
.reddit-embed h3{
  font-size: 22px;
  margin-bottom: 8px;
  margin-top: 1.4em;
}
.reddit-embed h4{
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 1.4em;
}
.reddit-embed h5{
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 1.4em;
}
.reddit-embed h6{
  font-size: 15px;
  margin-bottom: 8px;
  margin-top: 1.4em;
}

/* Lists in text */
.reddit-embed ul{
    list-style: disc outside;
    margin: 5px 0 5px 10px;
    padding: 0 !important;
}
.reddit-embed ol{
    list-style: decimal outside;
    margin: 5px 0 5px 10px;
    padding: 0 !important;
}
.reddit-embed li{
    margin: .4em 1em;
}

/* Blockquotes */
.reddit-embed blockquote {
    border-left: 5px solid var(--reddit-blockquote);
    margin: 5px 0 5px 10px;
    padding-left: 10px;
}

/* Tables */
.reddit-embed table{
    border: 2px solid var(--reddit-table-border);
    border-spacing: 0;
    border-collapse: collapse;
    display: inline-block;
    margin-bottom: 4px;
    margin-top: 4px;
    overflow-x: auto;
    word-break: normal;
}
.reddit-embed tr th{
  border: 1px solid var(--reddit-table-border);
  padding: 4px 8px;
}
.reddit-embed td{
  border: 1px solid var(--reddit-table-border);
  padding: 4px 8px;
}

/* Code */
.reddit-embed code{
  background: var(--reddit-code-bg);
  font-family: Noto Mono,Menlo,Monaco,Consolas,monospace;
  line-height: 20px;
}
.reddit-embed pre {
  background: var(--reddit-code-bg);
  display: grid;
  margin: 5px 0;
  padding: 10px;
}
.reddit-embed pre code{
  background: none;
}

.reddit-embed .expand-button {
  font-size: 16px;
  font-family: IBMPlexSans, Arial, sans-serif;
  text-decoration: none !important;
  display: inline-block;
}

.reddit-embed .md-spoiler-text {
  background: var(--reddit-spoiler-bg);
  border-radius: 2px;
  transition: background 1s ease-out;
  color: rgba(0,0,0,0);
  cursor: pointer;
}

.reddit-embed .md-spoiler-revealed {
  background: var(--reddit-spoiler-bg-revealed);
  border-radius: 2px;
  transition: background 1s ease-out;
}

/* Misc */
.link-flair {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
    white-space: pre;
    word-break: normal;
    padding: 0 4px;
}
